@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
}

p {
  font-size: 1.4rem;
  text-indent: 20px;
  padding-left: 10px;
}
ul {
  font-size: 1.4rem;
}

code {
  font-size: 1.2rem;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
}

/* Header */
.header {
  background: #ffffff;
  border-radius: 15px 15px 0 0;
  border-bottom: 2px solid #000;
  background-color: #f5cdfc;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  padding: 10px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 20px;
}
.navigation {
  padding-right: 20px;
}

.navigation__item {
  padding-bottom: 10px;
  list-style: none;
}

.navigation__item a {
  text-decoration: none;
  color: rgb(110, 110, 110);
}
.navigation__item a:hover {
  color: red;
  transition: 0.3s;
}

.background {
  background: #fad9ff;
}

/* Biography */
.biography {
  border-bottom: 1px solid black;
  padding: 10px 0 10px 0;
}

/* Skills */

.skills {
  border-bottom: 1px solid black;
  padding: 10px 0 10px 0;
}

.skills ul {
  list-style: none;
  padding-left: 20px;
}

.skills__item {
  padding-bottom: 10px;
}
.skills__item:last-child {
  padding: 0;
}

.skills__item:hover {
  color: orangered;
  transition: 0.2s;
  cursor: pointer;
}

/* Code example */
.code {
  padding: 0 20px 5px 10px;
}
pre {
  background-color: black;
  color: greenyellow;
}

/* Work experience */
.work-experience {
  border-top: 1px solid black;
  padding: 10px 0 10px 0;
}

/* Educatiom*/
.education {
  border-top: 1px solid black;

  padding: 10px 0 15px 0;
}

.education__items:hover {
  color: greenyellow;
  transition: 0.4s;
  cursor: pointer;
  content: "&#9745";
}

.education__items:hover:last-child {
  color: orangered;
  cursor: wait;
}

.my-education {
  padding-left: 50px;
}

/* FOOTER*/
.footer__wrapper {
  border-radius: 0 0 15px 15px;
  background-color: #f5cdfc;
  box-shadow: 0 -1px 15px #000;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  list-style: none;
}

.contacts span {
  padding-bottom: 10px;
}

.contacts__items img {
  max-width: 40px;
  max-height: 40px;
  padding-left: 10px;
}
